
.loader{
    height:75vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.postsContainer{
    width:60%;
    object-fit: contain;
}
.postContainer{
    width:50%;
    margin:auto;
}
.userDetails{
    display:flex;
    justify-content: flex-start;
    align-items: center;
}
.userDetails > div{
    margin-left:1em;
}
.userDetails>div>p{
    padding:0;
    margin:0;
}
.viewContainer{
    padding:0;
    margin:.6em .2em;
    border-top: 1px solid rgb(224, 213, 213);
    border-bottom: 1px solid rgb(224, 213, 213);
}
.viewContainer >div>p{
    margin:.4em;
    font-size: x-large;
}
.viewContainer >div>p>span{
    margin-left:.4em;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header>h1{
    width:70%;
    text-wrap: wrap;
}
.header > div> button{
    margin-right:.3em;
}

