.signContainer, .signContainer > form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.signContainer{
    margin:auto;
    width:30%;
}
.signContainer >h1{
    text-align: center;
}
.signContainer >form>input{
    width: 100%;
    padding:.7em 1.5em;
    margin:.5em;
   
}

.signContainer>form>button{
    margin: .7em;
    font-size: x-large;
    width:70%;
    background-color: rgb(119, 187, 226);
    color: white;
}
.signContainer >form>input, .signContainer>form>button{
    border: 1px solid rgb(150, 199, 240);
    border-radius: 25px;
}
.error{
    color:red;
    padding:0;
    margin:0;
}

.avatarContainer{
    width:70%;
    margin:auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.updateAvatarContainer,.userDetail{
    display: flex;
    flex-direction: column;
}
.updateAvatarContainer{
    align-items: center;
}
.updateAvatarContainer img{
    padding:.6em;
    margin:.5em;
}
.userDetail{
    align-items: flex-start;
  font-weight: 400;
}
.updateAvatarContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.avatarContainer{
    margin-bottom:2em;
}