.cardContainer{
    width:40%;
    height:30%;
    margin:.9em auto;
}
.cardContainer p{
    margin:.2em .4em;
    padding:0;
}
.cardContainer h2{
    margin:0.2em;
    padding:0;
}
.cardContainer,.postDetail{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}
.userDetails{
    display: flex;
    align-items: center;
    
}
.postDetail{
    overflow: hidden;
    min-width:400px;
    max-height: 140px;
    object-fit: contain;
}

.cardContainer{
    background-color: rgb(217, 224, 224);
    padding:.6em;
    border-radius: 20px;
}

.cardContainer:hover{
    cursor: pointer;
}
