.headerContainer, .logoContainer>h1>a, .navContainer >ul, .leftCont{
    display: flex;
    align-items: center;
}
.headerContainer{
    justify-content: space-between;
    padding:.4em 1.5em;
}
.logoContainer{
    margin-right:1.5em;
}
.searchContainer input{
    border-radius: 20px;
    border: 1px solid grey;
    padding:.4em;
}
.logoContainer >h1{
    color:'#78d4f2';
    padding:0;
    margin:0;
}
.logoContainer >h1> a{
    text-decoration: none;
}

.navContainer >ul{
    list-style: none;
    justify-content: space-around;
}
ul> li>a{
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size:larger;
}
ul > li{
    padding:0 .5em;
}

a{
  font-weight: 400;
}

@media screen and (max-width: 729px) {
    .searchContainer {
      display: none;
    }
}