
.writeContainer{
    width:90%;
    margin:auto;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}
.headerContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.headerContainer>div>Button{
    font-size: large;
    margin:0 .8em;
}
.title{
    display: flex;
    justify-content: flex-start;
}
.title input{
    font-size: x-large;
    border: 1px solid rgb(150, 199, 240);
    border-radius: 25px;
    padding:.4em .8em;
    margin: .4em 0;
}



.imageTagsContainer>input{
    
    font-size: larger;
}
.imageTagsContainer{
    margin:.8em;
}

.tagsContainer{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.suggestionContainer{
    width:200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    font-size:large;
}
.suggestionContainer > input{
    width: 100%;
}
.suggestionContainer > ul{
    margin:0;
    padding:0;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    align-items: flex-start;
}

.suggestionContainer> input{
    font-size: large;
    border: 1px solid rgb(150, 199, 240);
    border-radius: 25px;
    padding:.4em .4em;
    margin: .4em 0;
}

.tagRemove{
    margin-left:.3em;   
    background-color: blanchedalmond;
    border-radius: 50%;
}

.selectedTags >span{
    display: inline-block;
    margin:.3em;
    padding:.4em;
    background-color: rgb(154, 188, 221);
    border-radius: 7px;
}
